body {
	background: rgb(199, 197, 197);
}

img {
	height: 225px;
	width: 225px;
	margin: 8px;
}

button {
	margin: 5px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.panel-heading {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	font-size: 20px;
	padding: 15px;
	
}

#addBtn {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.jumbotron {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background: purple;
	color: white;
}

.headerStyle {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
}
